<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- This is an example HTML comment. This
       will not be displayed by the browser. -->
  <!-- <title>My App</title> -->
  <!-- To change the title of the page, just change the value
       in the title tag like so: -->
  <title>This page is for teachers only</title>

</head>
<body>
  <h1>My app!</h1>
  <!-- Any HTML in this template will be displayed to
       the browser. Here's an example of adding
       an h2 header with the person's (fictitious) name -->

  <h2>My name: Teacher</h2>

  <!-- To add the link to the main page, use the 'a' tag with the
       'href' attribute, like so: -->

  <a href='/'>Home page</a>

  </body>
</html>
