<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>My App</title>
</head>
<body>
  <h1>My app!</h1>
  <h2>My name: {{name}}. I am {{age}} years old.</h2>

  <!-- The `render_template` method call in the flask app code
       includes the variable 'cat_color' (value: 'black'), but
       not the variable 'cat_name', so the line below would be rendered
       by the template engine as:
       <h3>The cat's color is black and its name is </h3>
   -->
  <h3>The cat's color is {{cat_color}} and its name is {{cat_name}}</h3>
</body>
</html>
