<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>My App</title>
</head>
<body>
  <h2>
    Your name is {{name}}.
  </h2>
  <h2>
    Your age is {{age}}.
  </h2>

  <!-- This uses CSS styling to attempt to
       change the background of the h2 tag that displays the
       name of the favorite color. This only works for
       colors that CSS recognizes (some examples: blue, red, gold).
       A full list is here: http://www.crockford.com/wrrrld/color.html

       If the color is not a valid one then the CSS may become
       invalidated and no color will show, but nothing worse will
       happen.
   -->

  <h2 style="background-color: {{color}};">
    Your favorite color is: {{color}}.
  </h2>
</body>
</html>
