<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>My App</title>
</head>
<body>
  <!-- The 'action' attribute is the URL that the form will
       send its contents to. The 'method' attribute is the *way*
       that the form will send its contents.

       So if the method is 'get' and the action is '/myform', then
       the form will submit its contents to the url '/myform' with
       a 'GET' request, putting the variables in the URL. If the person
       enters 'teacher' and '29' for name and age, respectively, the
       browser would GET the following URL when the user submits it:

       /myform?name=teacher&age=29

       If the method is 'post', however, and the action is the same,
       then the browser will POST the form data to the '/myform' url,
       and they will not be displayed in the URL.
   -->
  <form action="/myform" method="get" accept-charset="utf-8">
    <input type='text' name='name' placeholder='enter your name' />
    <br>
    <input type='text' name='age' placeholder='enter your age' />
    <br>
    <!-- This shows adding another input for entering a favorite color: -->
    <input type='text' name='color' placeholder='enter your favorite color'>
    <br>
    <input type='submit' value='Submit' />
  </form>
</body>
</html>
